:root {
  font-family: Montserrat, open-sans, Inter;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
  --primary: #eb5440;
  --secondary: #4a4b4c;
  --tertiary: #e8e8e8;
  --tertiary-dark: #c3c3c3;
  --background1: #f6f6f6;
  --background2: #fff;

  --text-primary: #000;
  --text-secondary: #4a4b4c;
  --text-hyperlink: #067bc2;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --width: 600px;
}

a {
  font-weight: 500;
  color: var(--tertiary-dark);
  text-decoration: inherit;
}
a:hover {
  color: var(--text-hyperlink);
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-weight: 800;
  font-size: 32px;
  font-family: 'Montserrat', sans-serif;
  line-height: 1.5;
}

h2 {
  font-weight: 800;
  font-size: 22px;
  font-family: 'Montserrat', sans-serif;
  line-height: 1.5;
}

.h2 {
  font-weight: 400;
  font-size: 18px;
  font-family: 'Montserrat', sans-serif;
  line-height: 1.5;
}

h3 {
  font-weight: 600;
  font-size: 14px;
  font-family: 'Montserrat', sans-serif;
  line-height: 1.5;
  margin: 0;
}

h4 {
  font-weight: 400;
  font-size: 14px;
  font-family: 'Montserrat', sans-serif;
  font-style: italic;
  line-height: 1.5;
}

h5 {
  font-weight: 600;
  font-size: 16px;
  font-family: 'Open sans', sans-serif;
  line-height: 1.5;
}

input {
  font-weight: 400;
  font-size: 14px;
  font-family: 'Open Sans', sans-serif;
  line-height: 1.5;
  color: var(--secondary);
}

p {
  font-weight: 400;
  font-size: 18px;
  font-family: 'Open Sans', sans-serif;
  line-height: 1.5;
}


button {
  font-weight: 400;
  font-size: 18px;
  font-family: 'Montserrat', sans-serif;
  line-height: 1.5;
  border: 0;
}

#app {
  max-width: 1280px;
  min-height: 100vh;
  margin: 0 auto;
  padding: 30px 0 0 0;
  text-align: center;
}

.flex {
  display: flex;
}

.column {
  flex-direction: column;
}

.center {
  justify-content: center;
  align-items: center;
}

.between{
  justify-content: space-between;
}

.col-gap{
  column-gap: 20px;
}

.row-gap{
  row-gap: 10px;
}

.m-0 {
  margin: 5px;
}

.p-2{
  padding: 0 10px;
}

.w-100{
width: 100%;
}

.w-90{
  width: 90%;
}

.align-left {
  text-align: left;
  width: 100%;
  align-content: left;
}

.text-black {
  color: var(--text-primary);
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: var(--background1);

    --width: 100%;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
