:root {
  font-family: 'Montserrat', 'Open-sans', Inter;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  background-color: var(--background1);
  --primary: #eb5440;
  --secondary: #4a4b4c;
  --tertiary: #e8e8e8;
  --tertiary-dark: #c3c3c3;
  --background1: #f6f6f6;
  --background2: #fff;

  --text-primary: #000;
  --text-secondary: #4a4b4c;
  --text-hyperlink: #067bc2;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --width: 600px;
}

a, .a {
  font-weight: 500;
  display: flex;
  color: var(--tertiary-dark);
  text-decoration: inherit;
  background-color: transparent;
  align-items: center;
  justify-content: center;
}
a:hover, .a:hover {
  color: var(--text-hyperlink);
  cursor: pointer;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  place-items: center;
  min-height: 100vh;
}

h1 {
  font-weight: 800;
  font-size: 32px;
  font-family: 'Montserrat', sans-serif;
  line-height: 1.5;
}

h2 {
  font-weight: 800;
  font-size: 22px;
  font-family: 'Montserrat', sans-serif;
  line-height: 1.5;
}

.h2 {
  font-weight: 400;
  font-size: 18px;
  font-family: 'Montserrat', sans-serif;
  line-height: 1.5;
}

h3 {
  font-weight: 600;
  font-size: 14px;
  font-family: 'Montserrat', sans-serif;
  line-height: 1.5;
  margin: 0;
}

h4 {
  font-weight: 400;
  font-size: 14px;
  font-family: 'Montserrat', sans-serif;
  font-style: italic;
  line-height: 1.5;
}

h5 {
  font-weight: 600;
  font-size: 16px;
  font-family: 'Open sans', sans-serif;
  line-height: 1.5;
}

input, textarea {
  font-weight: 400;
  font-size: 14px;
  font-family: 'Open Sans', sans-serif;
  line-height: 1.5;
  height: 40px;
  border: 0;
  background-color: var(--background2);
  padding-left: 10px;
  color: var(--secondary);
}

p {
  font-weight: 400;
  font-size: 18px;
  font-family: 'Open Sans', sans-serif;
  line-height: 1.5;
}

.error{
  font-style: italic;
  color: #d36060;
}

.uppercase{
  text-transform: uppercase;
}

button, .button {
  font-weight: 400;
  font-size: 18px;
  font-family: 'Montserrat', sans-serif;
  line-height: 1.5;
  
  display: flex;
  border: 0;
  color: var(--background2);
  background-color: var(--primary);
  border-radius: 5px;
  padding: 0 20px 0 15px;
  height: 40px;
  align-items: center;
  justify-content: center;
  column-gap: 10px;
}

#app {
  width: 100%;
  display: flex;
  flex-direction: column;
  max-width: var(--width);
  min-height: 100vh;
  margin: 0 auto;
  padding: 60px 0 0 0;
  text-align: center;
  align-items: center
}

.flex {
  display: flex;
}

.flex-end{
  flex-direction: row-reverse;
}

.column {
  flex-direction: column;
}

.justify-center {
  justify-content: center;
}

.align-center{
  align-items: center;
}

.between{
  justify-content: space-between;
}

.col-gap{
  column-gap: 20px;
}

.row-gap{
  row-gap: 10px;
}

.m-0{
  margin: 0;
}
.m-1 {
  margin: 5px;
}

.my-2 {
  margin-top: 10px;
  margin-bottom: 10px;
}

.p-2{
  padding: 0 10px;
}

.w-100{
width: 100%;
}

.w-90{
  width: 90%;
}


.w-40{
  width: 40%;
}

.align-left {
  width: 100%;
  align-content: left;
}

.align-right{
  width: 100%;
  align-content: right;
}

.text-left{
  text-align: left;
}

.text-black {
  color: var(--text-primary);
}

@media screen and (max-width: 600px) {
  :root {
    background-color: var(--background1);

    --width: 95%;
  }
}

@media  (prefers-color-scheme: dark){
  :root {
    background-color: var(--background1);
  }
}
